<!-- card empresa_colaborador-->
<div class="card mt-4">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Registro de Colaboradores
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <button id="btn_modal" type="button" class="btn btn-success">Crear nuevo</button>
            </div>
        </div>
        <hr />
        <table id="tablaempresa_colaborador" style="white-space: nowrap;">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div> <!-- end card empresa_colaborador-->

<!-- modal empresa_colaborador-->
<div class="modal fade" id="modal_empresa_colaborador" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Colaborador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Input modal-->
                <div class="row">
                    <div class="col-12">
                        <label for="empresa_colaborador_nombre" class="form-label">Nombre Completo</label>
                        <input type="text" class="form-control" id="empresa_colaborador_nombre" autocomplete="off">
                    </div>
                    <div class="col-6">
                        <label for="empresa_colaborador_telefono" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="empresa_colaborador_telefono" autocomplete="off">
                    </div>
                    <div class="col-6">
                        <label for="empresa_colaborador_area" class="form-label">Área</label>
                        <input type="text" class="form-control" id="empresa_colaborador_area" autocomplete="off">
                    </div>
                </div>
                <!--Input modal end-->
                <!--Mensaje de alerta-->
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert" style="margin-bottom: 10px; display: none">
                            A simple danger alert—check it out!
                        </div>
                    </div>
                </div> <!--Mensaje de alerta end-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button id="btnGuardar" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div> <!-- end modal empresa_colaborador -->

<!-- modal ver empresa-->
<div
  class="modal modal-lg fade"
  id="modal_ver_empresa_colaborador"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="exampleModalLabel">Colaborador</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!--Input modal-->
        <div class="row">
          <div class="col-12">
            <label for="modal_colaborador_ver_nombre" class="form-label">Nombre Completo</label>
            <p
              type="text"
              class="form-control"
              id="modal_colaborador_ver_nombre"
              style="overflow-x: auto; white-space: nowrap;"
              disabled
            />
          </div>
          <div class="col-6">
            <label for="modal_colaborador_ver_telefono" class="form-label">Teléfono</label>
            <p
              type="text"
              class="form-control"
              id="modal_colaborador_ver_telefono"
              style="overflow-x: auto; white-space: nowrap;"
              disabled
            />
          </div>
          <div class="col-6">
            <label for="modal_colaborador_ver_area" class="form-label">Área</label>
            <p
              type="text"
              class="form-control"
              id="modal_colaborador_ver_area"
              style="overflow-x: auto; white-space: nowrap;"
              disabled
            />
          </div>
        </div>
        <!--Input modal end-->
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal ver empresa -->

<!-- modal editar empresa_colaborador-->
<div
  class="modal modal-lg fade"
  id="modal_editar_empresa_colaborador"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="exampleModalLabel">Colaborador</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!--Input modal-->
        <div class="row">
          <div class="col-12">
            <label for="empresa_colaborador_nombre_editar" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="empresa_colaborador_nombre_editar"
              autocomplete="off"
            />
          </div>
          <div class="col-6">
            <label for="empresa_colaborador_telefono_editar" class="form-label">RUC</label>
            <input
              type="text"
              class="form-control"
              id="empresa_colaborador_telefono_editar"
              autocomplete="off"
            />
          </div>
          <div class="col-6">
            <label for="empresa_colaborador_area_editar" class="form-label">Rubro</label>
            <input
              type="text"
              class="form-control"
              id="empresa_colaborador_area_editar"
              autocomplete="off"
            />
          </div>
          {{!-- <div class="col-6">
            <label for="empresa_colaborador_empresa_editar" class="form-label">Rubro</label>
            <input
              type="text"
              class="form-control"
              id="empresa_colaborador_empresa_editar"
              autocomplete="off"
            />
          </div> --}}
        <!--Input modal end-->
        <!--Mensaje de alerta-->
        <div class="row mt-2">
          <div class="col-12">
            <div
              id="mensajeError"
              class="alert alert-danger"
              role="alert"
              style="margin-bottom: 10px; display: none"
            >
              A simple danger alert—check it out!
            </div>
          </div>
        </div>
        <!--Mensaje de alerta end-->
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Cerrar</button>
        <button
          id="btnGuardarEditar"
          type="button"
          class="btn btn-primary"
        >Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- end editar modal empresa -->

<script src="/controladores/empresa_colaborador.js" type="module"></script>
