<div class="item">
    <div class="fcrse_1 mb-20">
        <a href="/stand" class="fcrse_img">
            <img src="p_live/images/courses/img-1.jpg" alt="">
            <div class="course-overlay">
                <div class="badge_seller">Stands</div>
                <div class="crse_reviews">
                    <i class='uil uil-star'></i>5
                </div>
                <span class="play_btn1"><i class="uil uil-play"></i></span>
                <div class="crse_timer"> Básico </div>
            </div>
        </a>
        <div class="fcrse_content">
            <div class="eps_dots more_dropdown">
                <a href="#"><i class='uil uil-ellipsis-v'></i></a>
                <div class="dropdown-content">
                    <span><i class='uil uil-share-alt'></i>Compartir</span>
                    <span><i class="uil uil-heart"></i>Me interesa</span>
                </div>
            </div>
            <div class="vdtodt">
                <span class="vdt14">109 vistas</span>
            </div>
            <a href="/stand" class="crse14s">Nombre de Empresa 01</a>
            <a href="#" class="crse-cate"><strong>Rubro:</strong> Minero</a>
        </div>
    </div>
</div>