<!-- card empresa-->
<div class="card mt-4">
  <div class="card-header">
    <i class="fas fa-users me-1"></i>
    Registro de la empresa
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table id="tablaEmpresa" style="white-space: nowrap;">
        <thead>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- end card empresa-->

<!-- modal empresa-->
<div class="modal fade" id="modal_empresa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-bs-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="exampleModalLabel">Empresa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-imagen-tab" data-bs-toggle="tab" data-bs-target="#nav-imagen"
              type="button" role="tab" aria-controls="nav-imagen" aria-selected="false">Stand</button>
            <button class="nav-link" id="nav-datos-tab" data-bs-toggle="tab" data-bs-target="#nav-datos" type="button"
              role="tab" aria-controls="nav-datos" aria-selected="true">Informacion</button>
            <button class="nav-link" id="nav-presentacion-tab" data-bs-toggle="tab" data-bs-target="#nav-presentacion"
              type="button" role="tab" aria-controls="nav-presentacion" aria-selected="false">Presentación</button>
            <button class="nav-link" id="nav-historia-tab" data-bs-toggle="tab" data-bs-target="#nav-historia"
              type="button" role="tab" aria-controls="nav-historia" aria-selected="false">Historia</button>
          </div>
        </nav>
        <!--Input modal-->
        <div class="tab-content" id="nav-tabContent">
          {{!-- Input de imagen video --}}
          <div class="tab-pane fade show active" id="nav-imagen" role="tabpanel" aria-labelledby="nav-imagen-tab"
            tabindex="0">
            <input type="hidden" id="empresa_id" disabled>
            <div class="col-6">
              <label for="empresa_estado" class="form-label">Estado del stand</label>
              <select id="empresa_estado" class="form-select">
                <option value="1">Mostrar</option>
                <option value="0">Ocultar</option>
              </select>
            </div>
            <div class="col-6"></div>
            <div class="col-12">
              <label for="e_img_principal" class="form-label">Imagen principal</label>
              <img style="width: 80%; aspect-ratio: 1.8;" class="rounded mx-auto d-block img-fluid" id="img_empresa"
                src="" />
              <input class="form-control mt-2" type="file" width="100%" id="e_img_principal" name="archivo"
                accept="image/png,image/jpg,image/jpeg" />
            </div>
            <div class="col-12">
              <label for="empresa_cargarvideo" class="form-label">Subir enlace de YouTube</label>
              <div class="border rounded mx-auto d-block img-fluid" style="width: 80%; aspect-ratio: 1.8">
                <iframe id="video_empresa" class="mx-auto" width="100%" height="100%" src="" frameborder="0"
                  style="display: none;" allowfullscreen></iframe>
              </div>
              <div class="input-group mt-2">
                <input id="empresa_cargarvideo" type="text" class="form-control" placeholder="link"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="btn-cargar-video">Cargar</button>
              </div>
            </div>
          </div>
          {{!-- Input de datos --}}
          <div class="tab-pane fade" id="nav-datos" role="tabpanel" aria-labelledby="nav-datos-tab" tabindex="0">
            <div class="row">
              <div class="col-6">
                <label for="empresa_nombre" class="form-label">Nombre </label>
                <input type="text" class="form-control" id="empresa_nombre" autocomplete="off" />
              </div>
              <div class="col-6">
                <label for="empresa_numero_ruc" class="form-label">RUC </label>
                <input type="text" class="form-control" id="empresa_numero_ruc" autocomplete="off" />
              </div>
              <div class="col-6">
                <label for="empresa_rubro" class="form-label">Rubro </label>
                <input type="text" class="form-control" id="empresa_rubro" autocomplete="off" />
              </div>
              <div class="col-6">
                <label for="empresa_direccion" class="form-label">Dirección </label>
                <input type="text" class="form-control" id="empresa_direccion" autocomplete="off" />
              </div>
              <div class="col-6">
                <label for="empresa_telefono" class="form-label">Teléfono </label>
                <input type="text" class="form-control" id="empresa_telefono" autocomplete="off" />
              </div>
              <div class="col-6">
                <label for="empresa_correo" class="form-label">Correo </label>
                <input type="text" class="form-control" id="empresa_correo" autocomplete="off" />
              </div>
              <div class="col-12">
                <label for="empresa_descripcion" class="form-label">Descripción </label>
                <textarea type="text" class="form-control" id="empresa_descripcion" style="height: 60;"
                  autocomplete="off"></textarea>
              </div>
            </div>
          </div>
          {{!-- Input de presentacion --}}
          <div class="tab-pane fade" id="nav-presentacion" role="tabpanel" aria-labelledby="nav-presentacion-tab"
            tabindex="0">
            <div class="col-12">
              <label for="e_img_presentacion" class="form-label">Tarjeta de presentación</label>
              <img style="width: 80%; aspect-ratio: 1.8;" class="rounded mx-auto d-block img-fluid"
                id="img_presentacion" src="" />
              <input class="form-control mt-2" type="file" width="100%" id="e_img_presentacion" name="archivo"
                accept="image/png,image/jpg,image/jpeg" />
            </div>
          </div>
          {{!-- Input de historia --}}
          <div class="tab-pane fade" id="nav-historia" role="tabpanel" aria-labelledby="nav-historia-tab" tabindex="0">
            <div class="col-12">
              <label for="empresa_historia" class="form-label">Historia </label>
              <textarea type="text" class="form-control" id="empresa_historia" style="height: 60;"
                autocomplete="off"></textarea>
            </div>
            <div class="col-12">
              <label for="e_img_historia" class="form-label">Imagen de la historia</label>
              <img style="width: 80%; aspect-ratio: 1.8;" class="rounded mx-auto d-block img-fluid" id="img_historia"
                src="" />
              <input class="form-control mt-2" type="file" width="100%" id="e_img_historia" name="archivo"
                accept="image/png,image/jpg,image/jpeg" />
            </div>
          </div>
        </div>
        <!--Input modal end-->
        <!--Mensaje de alerta-->
        <div class="row mt-2">
          <div class="col-12">
            <div id="mensajeError" class="alert alert-danger" role="alert" style="margin-bottom: 10px; display: none">
              A simple danger alert—check it out!
            </div>
          </div>
        </div>
        <!--Mensaje de alerta end-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button id="btnGuardar" type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal empresa -->

<!-- Modal para recortar la imagen -->
<div class="modal fade" id="modal_recortar_imagen" tabindex="-1" aria-labelledby="modalRecortarImagenLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalRecortarImagenLabel">Recortar Imagen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="opc_recortar" disabled>
        <div class="img-container">
          <img id="imagen_a_recortar" src="" alt="Imagen a recortar" style="max-width: 100%;">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="btn_recortar_imagen">Recortar</button>
      </div>
    </div>
  </div>
</div>

<script src="/controladores/empresa.js" type="module"></script>