<!-- card empresa-->
<div class="card mt-4">
  <div class="card-header">
    <i class="fas fa-users me-1"></i>
    Registro de agenda
  </div>
  <div class="card-body">
    <table id="tablaAgenda" style="white-space: nowrap;">
      <thead>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
<!-- end card empresa-->

<!-- modal empresa-->
<div class="modal fade" id="modal_agenda" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-bs-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="exampleModalLabel">Empresa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-datos-tab" data-bs-toggle="tab" data-bs-target="#nav-datos"
              type="button" role="tab" aria-controls="nav-datos" aria-selected="true">Informacion</button>
          </div>
        </nav>
        <!--Input modal-->
        <div class="tab-content" id="nav-tabContent">
          {{!-- Input de datos --}}
          <div class="tab-pane fade show active" id="nav-datos" role="tabpanel" aria-labelledby="nav-datos-tab"
            tabindex="0">
            <div class="row">
              <input type="hidden" id="empresa_id" disabled>
              <div class="col-6">
                <label for="empresa_agenda_usuario" class="form-label">Usuario </label>
                <input type="text" class="form-control" id="empresa_nombre" autocomplete="off" />
              </div>
              <div class="col-6">
                <label for="empresa_agenda_contacto" class="form-label">Contacto </label>
                <input type="text" class="form-control" id="empresa_numero_ruc" autocomplete="off" />
              </div>
              <div class="col-6">
                <label for="empresa_agenda_asunto" class="form-label">Asunto </label>
                <input type="text" class="form-control" id="empresa_nombre" autocomplete="off" />
              </div>
              <div class="col-6">
                <label for="empresa_agenda_motivo" class="form-label">Motivo </label>
                <input type="text" class="form-control" id="empresa_numero_ruc" autocomplete="off" />
              </div>
            </div>
          </div>
        </div>
        <!--Input modal end-->
        <!--Mensaje de alerta-->
        <div class="row mt-2">
          <div class="col-12">
            <div id="mensajeError" class="alert alert-danger" role="alert" style="margin-bottom: 10px; display: none">
              A simple danger alert—check it out!
            </div>
          </div>
        </div>
        <!--Mensaje de alerta end-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button id="btnGuardar" type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal empresa -->

<script src="/controladores/empresa_agenda.js" type="module"></script>